/* GLOBAL */

* {
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    background: #EEE;
}

header, section {
    display: block;
    min-height: 100vh;
}

p {
    display: block;
    text-align: justify;
}

/* MENU */
header #hamburger-menu-btn {
    margin: 24px 12px;
}

/*overriding default hamburger animation properties with material design defaults*/
header .hamburger {
    transition-duration: 225ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

header .hamburger.is-active {
    transition-duration: 195ms;
}

ul.responsive-menu {
    display: none;
    flex-direction: column;
    /* animation */
    transition-duration: 225ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
/* TODO: Horizontal menu for large devices */



/* FULL PAGE HEADER */

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
}

header .kk-header-top-bar {
    flex-grow: 3;
}

header .kk-header-main-tile {
    flex-grow: 8;
    display: flex;
    flex-direction: column-reverse;
}

header .kk-header-bottom-tile {
    flex-grow: 5;
}

header h1 {
    /*position*/
    margin: 24px 0;
    max-width: 100vw;
    padding-left: calc(20vw - 24px);
    padding-right: 24px;
    /*text*/
    text-align: right;
    font-weight: 300;
    /* TODO: Consider adding background image (uncomment styles) */
    /*font-weight: 900;*/
    font-size: 3.75rem;
    /*color: #FFFFFF;*/
    /*text-shadow: 1px 4px 2px #000000;*/
}

header a.kk-action-btn {
    /*position*/
    display: block;
    margin: 24px auto;
    padding: 24px;
    width: fit-content;
    /*text*/
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    /*color and shadow*/
    background: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 2px;
    box-shadow: 1px 8px 13px rgba(0,0,0,0.37);
    /*animation*/
    transition-duration: 195ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

header a.kk-action-btn.is-active {
    /*color and shadow*/
    background: rgba(255,0,0,0.67);
    box-shadow: 3px 21px 33px rgba(0,0,0,0.37);
}

/* FULL PAGE CONTENT */

section {
    padding: 24px 24px;
    background: #F4F4F4;
}
@media (min-width: 1440px) {
    section {
        padding: 24px 15%;
    }
}

section h3 {
    margin-bottom: calc(24px - 4px);
}

section h3 {
    font-size: 2.25rem;
    width: fit-content;
}

section h3::after {
    content: " ";
    width: 67%;
	height: 0;
    border-bottom: 4px solid red;
    margin: 2px 0;
    display: block;
}

section p {
    margin-bottom: 24px;
}

/* GRAPHS */
.chart {
    background-color: white;
}

/* FOOTER */

section.last {
    min-height: calc(100vh - 5rem);
}

footer {
    display: block;
    padding: 1.25rem 24px;
    background-color: #DDDDDD;
}

footer p {
    font-size: 1rem;
    line-height: 1.25rem;
}

footer a {
    color: inherit;
}